
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="auth-page">
  <p padding text-wrap style="color:white">Enter your email address and a password reset link will be sent to you</p>
  <form  #resetPasswordForm="ngForm" (submit)="resetPassword(resetPasswordForm)" novalidate>
    <ion-item>
      <ion-input  placeholder="Email" ngModel type="email" clearInput name="email">
      </ion-input>
    </ion-item>
    <button ion-button full round type="submit"  color="brand2">
      Reset Password
    </button>
  </form>

</ion-content>