// page-reset-password {
    .button{
      background-color: #90b6fb;
    }
    .button-inner {
      color:white;
    }
    .toolbar-title-md {
      color: white
    }
    .button-ios{
      background-color: #90b6fb !important;
    }
      .toolbar-background {
          background-color:  #5F5686;
        }
      .scroll-content {
          padding: 16px;
          background-color: #5F5686;
      }
      .auth-page {
          .invalid {
            .item-inner {
              border-bottom: 1px solid #ff6153;
            }
          }
          .valid {
            .item-inner {
              border-bottom: 1px solid #90b6fb;
            }
          }
          ion-item{border-radius: 30px;}
          .error-message {
            min-height: 2.2rem;
            background-color: #5F5686;
            p {
              color: #ff6153;
              font-size: 80%;
              background-color: #5F5686;
              padding: 0px;
              margin: 0px;
            }
            ion-label {
              margin: 2px 0;
            }
            .item-inner {
              border-bottom: 0 !important;
            }
          }
        }
        ion-content{
          text-align: center;
          background-color: #90b6fb;
          --background:#3a465f;
        }
  // }
  