

<ion-content class="onboarding-bg">
  <div style="margin: 20%;text-align: center;">
      <p class="companyName">Company name</p>

  </div>

  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <p class="smallText">Enter as</p>

        <ion-button (click)="navigateToPage('/investor-landing')">
          Investor
        </ion-button><br/><br/>

        <ion-button (click)="navigateToPage('/entrepreneur-landing')">
            Entrepreneur
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
