


<ion-content class="auth-page" padding>
  <div id="logo">
    <!-- <img src="../../assets/imgs/Konet 2.png"> -->
    <h3 style="">TEST APP</h3>
  </div>
  <div padding>
    <ion-segment [(ngModel)]="login">
      <ion-segment-button value="Login">
        Login
      </ion-segment-button>
      <ion-segment-button value="Signup">
        Signup
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="login">
      <div *ngSwitchCase="'Login'">
      <form   #loginForm="ngForm" (submit)="logIn(loginForm)" novalidate>
          <ion-item>
              <ion-input placeholder="Email" ngModel type="email" clearInput name="email" > </ion-input>
            </ion-item>
            <ion-item >    
              <ion-input placeholder="Password" ngModel [type]="passwordType" name = "password"  clearInput></ion-input>
              <ion-icon [name]="passwordShown === true ? 'eye-off':'eye' " item-end color="primary" (click)="togglePassword()"></ion-icon>
            </ion-item>
            <br>
            <button ion-button color="brand2" type="submit" medium full round>Login</button>
           
          </form>
          <ion-buttons>
              <button ion-button id="forgot_password" clear color="light" (click)="navigateToForgotPassword()">Forgot password?</button>
            </ion-buttons>
          </div>

        <form *ngSwitchCase="'Signup'"  #signupForm="ngForm" (submit)="signUp(signupForm)" novalidate>
            <ion-item>
              <ion-input placeholder="First Name" ngModel type="text" name="firstName" clearInput></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-input placeholder="Last Name" ngModel type="text" name = "lastName" clearInput></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-input placeholder="Email" ngModel type="email" name="email" clearInput>
              </ion-input>
            </ion-item>
            <ion-item >
              <ion-input placeholder="Password" ngModel [type]="passwordType2" name = "password" clearInput></ion-input>
              <ion-icon [name]="passwordShown2 === true ? 'eye-off':'eye' " item-end color="primary" (click)="togglePassword2()"></ion-icon>
            </ion-item>
          
         
              <button ion-button color="brand2" type="submit"  medium full round>Signup</button>
     
          </form>

  </div>
</ion-content>
