<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title>Menu</ion-title> -->
        <div style="text-align: center">
            <img src="../assets/icon/avatar.svg" style="width:50px;margin:10px 0 0 0"/>
            <p>{{firstName}} {{lastName}}</p>
        </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item [routerDirection]="'root'" (click)="presentActionSheet()"> 
            <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Log out
              </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
