.companyName{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}
// .smallText{
// font-style: normal;
// font-weight: 500;
// font-size: 18px;
// }
.slider-div{
    width: 100%;
    text-align: center;
    border-bottom: 0.2px solid #000000f7;
    height: 100%;
}
.slider-img{
    // width: 75%;
    // height: 40%;
}
.medium-text{
font-style: normal;
font-weight: normal;
font-size: 22px;
}