<!-- <ion-header>
  <ion-toolbar>
    <ion-title>investor-landing</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content class="onboarding-bg">
  
    <ion-grid style="text-align: center;padding: 0px;">
        <ion-row style="height: 100%;">
          <ion-col style="padding: 0px;">
  
                   <div class="slider-div">
                      <div class="terms-div">
                          <p>
                              To proceed you must agree to the terms and conditions of "company name"
                          </p>
                        </div>
                          <div style="padding: 10px 40px;">
                              <p class="sign-in">Terms and Conditions</p>
                              <div class="terms">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla est purus, ultrices in porttitor
                                  in, accumsan non quam. Nam consectetur porttitor rhoncus. Curabitur eu est et leo feugiat
                                  auctor vel quis lorem. Ut et ligula dolor, sit amet consequat lorem. Aliquam porta eros sed
                                  velit imperdiet egestas. Maecenas tempus eros ut diam ullamcorper id dictum libe
                              </div>
                              <ion-button style="width: 100%;" (click)="navigateToPage('/select-interests')">
                                I Agree
                              </ion-button><br/>

                            </div>    
                   </div>
              
          </ion-col>
        </ion-row>
      </ion-grid>

  
  </ion-content>
  
  