/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

p{
    font-family: Ubuntu;
}

ion-button{
    width: 70%;
    height: 57px;
    font-size: 26px;
    text-transform: capitalize;
    border-radius: 5px;
}
input{
    width: 100%;
    border: none;
    border-bottom: 0.1px solid #C4C4C4;
    font-size: 16px;
    padding: 15px 0px;
    outline: none;
    background-color: transparent;
}

.default-button{
    width: 70%;
    height: 47px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 5px;   
}
.default-clear-button{
    width: 70%;
    height: 47px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 5px;   
    --background: transparent;
    border:solid 1px #429E1A;
    color: #429E1A;
}

@font-face{
    font-family: Ubuntu;
    src: url("./assets/fonts/Ubuntu.woff2");
  }

  .onboarding-bg {
    --background: none;
    background-image: url('./assets/imgs/bottomImage.png');    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    .ion-grid-wrapper {
        margin: 25% 5% 0 5%;
    }

}