<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button persistence="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome {{firstName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content> 
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="../assets/imgs/background.jpg">
            </ion-avatar>
            <h5>James Chidi</h5>
            <ion-buttons medium item-end style="float: right">
                <button ion-button medium clear item-end (click)="presentActionSheet()">
                    <ion-icon class="icons" name="more" item-end>
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-item>
        <ion-slides pager="true" parallax="true">
            <ion-slide>
                <img src="../assets/imgs/background.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../assets/imgs/yinyang.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../assets/imgs/background.jpg">
            </ion-slide>
        </ion-slides>

        <ion-row>
            <ion-col>
                <ion-buttons>
                    <button ion-button clear start>
                        <ion-icon class="icons" name="heart" color="danger"></ion-icon >
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" class="icons" name="chatbubbles"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="send"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

        </ion-row>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="../assets/imgs/background.jpg">
            </ion-avatar>
            <h5>John doe</h5>
            <ion-buttons medium item-end>
                <button ion-button medium clear item-end (click)="presentActionSheet()">
                    <ion-icon class="icons" name="more" item-end>
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-item>
        <p padding>Follow my social media for dailt tips on how to be an enterpreneur.</p>
        <ion-row>
            <ion-col>
                <ion-buttons>
                    <button ion-button clear start>
                        <ion-icon  name="heart-outline"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="chatbubbles"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="send"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

        </ion-row>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="../assets/imgs/yinyang.jpg">
            </ion-avatar>
            <h5>Lara George</h5>
            <ion-buttons medium item-end>
                <button ion-button medium clear item-end (click)="presentActionSheet()">
                    <ion-icon class="icons" name="more" item-end>
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-item>
        <ion-slides pager="true" parallax="true">
            <ion-slide>
                <img src="../assets/imgs/yinyang.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../assets/imgs/background.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../assets/imgs/background.jpg">
            </ion-slide>
        </ion-slides>

        <ion-row>
            <ion-col>
                <ion-buttons>
                    <button ion-button clear start>
                        <ion-icon class="icons" name="heart" color="danger"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="chatbubbles"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="send"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

        </ion-row>

    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="../assets/imgs/yinyang.jpg">
            </ion-avatar>
            <h5>Kemi oyewole</h5>
            <ion-buttons medium item-end>
                <button ion-button medium clear item-end (click)="presentActionSheet()">
                    <ion-icon class="icons" name="more" item-end>
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-item>
        <ion-slides pager="true" parallax="true">
            <ion-slide>
                <img src="../assets/imgs/background.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../assets/imgs/yinyang.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../assets/imgs/background.jpg">
            </ion-slide>
        </ion-slides>

        <ion-row>
            <ion-col>
                <ion-buttons>
                    <button ion-button clear start>
                        <ion-icon  name="heart-outline"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear icon-only>
                        <ion-icon class="icons" name="chatbubbles"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="send"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

        </ion-row>

    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="../assets/imgs/background.jpg">
            </ion-avatar>
            <h5>Suzan </h5>
            <ion-buttons medium item-end>
                <button ion-button medium clear item-end (click)="presentActionSheet()">
                    <ion-icon class="icons" name="more" item-end>
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-item>
        <p padding>Follow the link in my description to invest in my small business ;-)</p>
        <ion-row>
            <ion-col>
                <ion-buttons>
                    <button ion-button clear start>
                        <ion-icon  name="heart-outline"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="chatbubbles"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="send"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

        </ion-row>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="../assets/imgs/yinyang.jpg">
            </ion-avatar>
            <h5>Angela Thomas</h5>
            <ion-buttons medium item-end>
                <button ion-button medium clear item-end (click)="presentActionSheet()">
                    <ion-icon class="icons" name="more" item-end>
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-item>
        <p padding>Good morning people</p>
        <ion-row>
            <ion-col>
                <ion-buttons>
                    <button ion-button clear start>
                        <ion-icon class="icons" name="heart" color="danger"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="chatbubbles"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="send"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

        </ion-row>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="../assets/imgs/background.jpg">
            </ion-avatar>
            <h5>Seyi Daniels</h5>
            <ion-buttons medium item-end>
                <button ion-button medium clear item-end (click)="presentActionSheet()">
                    <ion-icon class="icons" name="more" item-end>
                    </ion-icon>
                </button>
            </ion-buttons>
        </ion-item>
        <p padding>When life gives you lemons,sell those lemons and make some profit</p>
        <ion-slides pager="true" parallax="true">
            <ion-slide>
                <img src="../assets/imgs/background.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../assets/imgs/yinyang.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../assets/imgs/background.jpg">
            </ion-slide>
        </ion-slides>
        <ion-row>
            <ion-col>
                <ion-buttons>
                    <button ion-button clear start>
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="chatbubbles"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

            <ion-col>
                <ion-buttons>
                    <button ion-button clear>
                        <ion-icon class="icons" name="send"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>

        </ion-row>

    </ion-card>

</ion-content>
